.header__container_mobile_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    width: 100%;
}