.header_type_mobile {
    box-sizing: border-box;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: display 1s; 
  }

  @media screen and (min-width: 530px) {
    .header_type_mobile {
      display: none;
      transition: display 1s;
    }
  }